.radio {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.radio:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.radio-input:not(:checked) ~ .radio {
  border: 2px solid rgba(18, 20, 23, 0.2);
}

.radio-input:checked ~ .radio {
  border: 2px solid var(--accent);
}

.radio-input:checked ~ .radio::after {
  background-color: var(--accent);
}

.radio:focus,
.radio:focus-visible {
  outline: 2px solid var(--accent);
}
