.application {
  color: var(--primary-text-color);
}

.application__title {
  text-align: center;

  margin-bottom: 16px;

  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.8px;
}

.application__text {
  text-align: center;

  margin-bottom: 64px;

  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}

.application__form-wrapper {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  column-gap: 32px;
}

.application__promo {
  /* flex-shrink: 0; */
  /* width: 492px; */
}

.application__form {
}

/* --Media queries--------------- */

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
  .application__promo {
    flex-shrink: 0;
    width: 492px;
  }
}
