.contact-form__fields {
  margin-bottom: 20px;
}

.contact-form__field-wrapper + .contact-form__field-wrapper {
  margin-top: 18px;
}

.contact-form__area {
  height: 104px;
}

.contact-form__teachers {
  margin-bottom: 40px;
}

.contact-form__subtitle {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.8px;
}

.contact-form__submit {
  padding: 14px 0;
  width: 100%;
  margin-bottom: 16px;
}

.contact-form__submit:disabled {
  background-color: #d4fde1;
}

.contact-form__policy {
  font-size: 12px;
  line-height: 1.33;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767.98px) {
  .contact-form__submit {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 768px) {
  .contact-form__teachers {
    margin-bottom: 32px;
  }

  .contact-form__fields {
    margin-bottom: 32px;
  }

  .contact-form__subtitle {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.2;
  }

  .contact-form__submit {
    padding: 16px 0;
  }

  .contact-form__policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 1280px) {
  .contact-form__teachers {
    margin-bottom: 34px;
  }

  .contact-form__submit {
    margin-bottom: 14px;
  }
}
