<section class="about" id="aboutUs">
  <div class="container">
    <h2 class="section-headline">About&nbsp;<span class="underline">Us</span></h2>
    <p class="description-text">
      We are dedicated to providing engaging and effective English language courses in a supportive
      and stimulating learning environment
    </p>
    <div class="benefit-container">
      <ul class="benefit-list list item-container">
        <li class="benefit-item">
          <span class="benefit-number">01</span>Expert, innovative teaching staff
        </li>
        <li class="benefit-item">
          <span class="benefit-number">02</span>Wide range of course levels and options
        </li>
        <li class="benefit-item">
          <span class="benefit-number">03</span>Multicultural learning environment
        </li>
        <li class="benefit-item">
          <span class="benefit-number">04</span>Comprehensive language support services
        </li>
      </ul>
      <div class="bg-image-about item-container"></div>
    </div>
  </div>
</section>
