<header id="header-id" class="header">
  <div class="header-items container">
    <div class="header-desktop-items">
      <a class="logo-first-word-header link" href="../index.html">english<span
          class="logo-second-word-header">excellence</span>.</a>
      <nav class="nav">
        <ul class="list navigation-list">
          <li class="navigation-menu-item"><a class="navigation-menu link" href="#aboutUs">About us</a></li>
          <li class="navigation-menu-item"><a class="navigation-menu link" href="#ourLessons">Our lessons</a></li>
          <li class="navigation-menu-item"><a class="navigation-menu link" href="#reviews">Reviews</a></li>
          <li class="navigation-menu-item"><a class="navigation-menu link" href="#footer">Contact us</a></li>
        </ul>
      </nav>
      <ul class="navigation-menu-social-list list">
        <li class="navigation-menu-social-item">
          <a class="navigation-menu-social-link link" target='_blank' href="https://www.facebook.com/goITclub/">
            <svg class="navigation-menu-social-icon" width="28" height="28">

              <use href="./img/icons.svg#icon-facebook-icon"></use>

            </svg>
          </a>
        </li>
        <li class="navigation-menu-social-item">
          <a class="navigation-menu-social-link link" target='_blank' href="https://www.instagram.com/goitclub/">
            <svg class="navigation-menu-social-icon" width="28" height="28">

              <use href="./img/icons.svg#icon-instagram-icon"></use>

            </svg>
          </a>
        </li>
        <li class="navigation-menu-social-item">
          <a class="navigation-menu-social-link link" target='_blank' href="https://www.youtube.com/c/GoIT">
            <svg class="navigation-menu-social-icon" width="28" height="28">

              <use href="./img/icons.svg#icon-youtube-icon"></use>

            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button class="mobile-menu-open-button js-open-menu" aria-label="open mobile menu" type="button">
      <svg class="mobile-menu-open-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-burger-menu-icon"></use>
      </svg>
    </button>
    <div class="mobile-menu-container js-menu-container">
      <div class="mobile-menu-wrapper">
        <button class="mobile-menu-close-button js-close-menu" aria-label="close mobile menu" type="button">
          <svg class="mobile-menu-close-icon" height="32" width="32">
            <use href="./img/icons.svg#icon-close-menu-icon"></use>
          </svg>
        </button>
        <ul class="mobile-menu-list list">
          <li class="mobile-menu-item">
            <a href="#aboutUs" class="mobile-menu-nav link">About us</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#ourLessons" class="mobile-menu-nav link">Our lessons</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#ourTeachers" class="mobile-menu-nav link">Teachers</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#reviews" class="mobile-menu-nav link">Reviews</a>
          </li>
          </li>
          <li class="mobile-menu-item">
            <a href="#footer" class="mobile-menu-nav link">Contact us</a>
          </li>
        </ul>
        <ul class="mobile-menu-social-list list">
          <li class="mobile-menu-social-item">
            <a class="mobile-menu-social-link link" href="https://www.facebook.com/goITclub/">
              <svg class="mobile-menu-social-icon" width="28" height="28">
                <use href="./img/icons.svg#icon-facebook-icon"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-social-item">
            <a class="mobile-menu-social-link link" href="https://www.instagram.com/goitclub/">
              <svg class="mobile-menu-social-icon" width="28" height="28">
                <use href="./img/icons.svg#icon-instagram-icon"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-social-item">
            <a class="mobile-menu-social-link link" href="https://www.youtube.com/c/GoIT">
              <svg class="mobile-menu-social-icon" width="28" height="28">
                <use href="./img/icons.svg#icon-youtube-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
