<section class="hero section">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title">
        Discover the joy of learning <span class="hero-title-accent">English</span> with us!
      </h1>
      <a href="#application" class="hero-cta">Leave an application</a>
      <a href="#footer" class="hero-scroll">
        <svg class="hero-scroll-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-icon"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
