<section class="ourTeachers" id="ourTeachers">
  <div class="container">
    <h2 class="section-headline">Meet our <span class="underline">teachers</span></h2>
    <p class="teachers-subtitle">
      Discover our team of dedicated educators, committed to guiding you on your journey to English
      proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers-list list">
      <li class="teachers-item">
        <img 
        class="teachers-image" 
        srcset="./img/teachers/maria.webp 1x, ./img/teachers/maria@2x.webp 2x" 
        src="./img/teachers/maria.webp" 
        alt="photo Maria" 
        width="150" 
        height="150" 
        />
        <h3 class="teachers-name">Maria</h3>
        <p class="teachers-about">
          A seasoned linguist and our primary specialist in beginner-level instruction, Maria brings
          warmth and patience to every class
        </p>
      </li>
      <li class="teachers-item">
        <img 
        class="teachers-image" 
        srcset="./img/teachers/artem.webp x1, ./img/teachers/artem@2x.webp 2x" 
        src="./img/teachers/artem.webp" 
        alt="photo Artem" 
        width="150" 
        height="150" 
        />
        <h3 class="teachers-name">Artem</h3>
        <p class="teachers-about">
          With his innovative teaching techniques and a focus on interactive learning, Artem excels
          in keeping students engaged and motivated
        </p>
      </li>
      <li class="teachers-item">
        <img 
        class="teachers-image" 
        srcset="./img/teachers/ilona.webp x1, ./img/teachers/ilona@2x.webp 2x" 
        src="./img/teachers/ilona.webp" 
        alt="photo Ilona" 
        width="150" 
        height="150" 
        />
        <h3 class="teachers-name">Ilona</h3>
        <p class="teachers-about">
          A specialist in advanced English, Ilona provides intensive instruction, ensuring students
          gain confidence in complex language tasks
        </p>
      </li>
      <li class="teachers-item">
        <img 
        class="teachers-image" 
        srcset="./img/teachers/volodymyr.webp x1, ./img/teachers/volodymyr@2x.webp 2x" 
        src="./img/teachers/volodymyr.webp" 
        alt="photo Volodymyr" 
        width="150" 
        height="150" 
        />
        <h3 class="teachers-name">Volodymyr</h3>
        <p class="teachers-about">
          Our expert in English for specific purposes, Volodymyr tailors his approach to meet
          individual career and industry-specific language needs
        </p>
      </li>
    </ul>
  </div>
</section>
