<section class="ourTeachers" id="ourTeachers">
  <div class="container">
    <h2 class="section-headline">Meet our <span class="underline">teachers</span></h2>
    <p class="teachers-subtitle">
      Discover our team of dedicated educators, committed to guiding you on your journey to English
      proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers-list list">
      <li class="teachers-item">
        <img class="teachers-image" src="../img/teachers/maria2x.jpg" alt="photo Maria" />
        <h3 class="teachers-name">Maria</h3>
        <p class="teachers-about">
          A seasoned linguist and our primary specialist in beginner-level instruction, Maria brings
          warmth and patience to every class
        </p>
      </li>
      <li class="teachers-item">
        <img class="teachers-image" src="../img/teachers/artem2x.jpg" alt="photo Artem" />
        <h3 class="teachers-name">Artem</h3>
        <p class="teachers-about">
          With his innovative teaching techniques and a focus on interactive learning, Artem excels
          in keeping students engaged and motivated
        </p>
      </li>
      <li class="teachers-item">
        <img class="teachers-image" src="../img/teachers/ilona2x.jpg" alt="photo Ilona" />
        <h3 class="teachers-name">Ilona</h3>
        <p class="teachers-about">
          A specialist in advanced English, Ilona provides intensive instruction, ensuring students
          gain confidence in complex language tasks
        </p>
      </li>
      <li class="teachers-item">
        <img class="teachers-image" src="../img/teachers/volodymyr2x.jpg" alt="photo Volodymyr" />
        <h3 class="teachers-name">Volodymyr</h3>
        <p class="teachers-about">
          Our expert in English for specific purposes, Volodymyr tailors his approach to meet
          individual career and industry-specific language needs
        </p>
      </li>
    </ul>
  </div>
</section>
