<section class="power-of-english-section section">
  <div class="container">
    <div class="section-wrapper">
      <h2 class="visually-hidden">Proposal lo leave an application</h2>
      <div class="main-title-wrapper">
        <h3 class="main-title">
          Master the <span class="light-green-text">Language</span> with Our English Package!
        </h3>
      </div>
      <div class="cards-wrapper">
        <div class="white-card">
          <div class="tablet-card-wrapper">
            <h4 class="card-title">Power of English</h4>
            <ul class="advantage-list list">
              <li class="advantage-item">
                <p class="advantage-text">
                  Dive into captivating lessons designed to stimulate your curiosity.
                </p>
              </li>
              <li class="advantage-item">
                <p class="advantage-text">
                  Learn in a nurturing setting where every student's progress matters.
                </p>
              </li>
              <li class="advantage-item">
                <p class="advantage-text">
                  Experience the satisfaction of real progress as your language skills and
                  confidence grow with every session.
                </p>
              </li>
            </ul>
            <button class="section-bnt" type="button">Leave an application</button>
          </div>
          <div class="books-img-wrapper"></div>
        </div>
        <!-- <div class="green-card card"></div>
        <div class="light-green-card card"></div> -->
      </div>
    </div>
  </div>
</section>
