<section class="reviews">
  <div class="container">
    <h2 class="section-headline">What our <span class="underline">students</span> say</h2>
    <p class="text">
      Hear from our students about their learning journey with us, as they share their experiences,
      progress, and the transformative impact
    </p>
    <ul class="list">
      <li class="item">
        <div class="user-wripper">
          <div class="image-wripper">
            <img
              class="user-image"
              srcset="../img/reviews/img-anna.jpg 1x, ../img/reviews/img-anna@2x.jpg 2x"
              src="../img/reviews/img-anna.jpg"
              alt="feedback-user-photo"
              width="50"
              height="50"
            />
          </div>
          <div class="user-name-wripper">
            <h3 class="user-name">Anna</h3>
            <p class="user-description">Student</p>
          </div>
        </div>
        <p class="user-feedback">
          My experience at the language school has been nothing short of amazing. The teachers are
          dedicated and the learning environment is stimulating. I feel more confident in my English
          skills.
        </p>
      </li>
      <li class="item">
        <div class="user-wripper">
          <div class="image-wripper">
            <img
              class="user-image"
              srcset="../img/reviews/img-mykhailo.jpg 1x, ../img/reviews/img-mykhailo@2x.jpg 2x"
              src="../img/reviews/img-mykhailo.jpg"
              alt="feedback-user-photo"
              width="50"
              height="50"
            />
          </div>
          <div class="user-name-wripper">
            <h3 class="user-name">Mykhailo</h3>
            <p class="user-description">Student</p>
          </div>
        </div>
        <p class="user-feedback">
          The school offers a great balance of language theory and practical exercises. The
          personalized feedback from the teachers has helped me improve my weak areas.
        </p>
      </li>
      <li class="item">
        <div class="user-wripper">
          <div class="image-wripper">
            <img
              class="user-image"
              srcset="../img/reviews/img-vctoria.jpg 1x, ../img/reviews/img-vctoria@2x.jpg 2x"
              src="../img/reviews/img-vctoria.jpg"
              alt="feedback-user-photo"
              width="50"
              height="50"
            />
          </div>
          <div class="user-name-wripper">
            <h3 class="user-name">Victoria</h3>
            <p class="user-description">Student</p>
          </div>
        </div>
        <p class="user-feedback">
          I love the dynamic and interactive teaching methods used here. It's a great place to learn
          English in a fun and effective way. I have definitely seen a big improvement in my
          language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
