.about {
  padding-bottom: 80px;
}

.section-headline {
  color: var(--primary-text-color);
  text-align: center;
  font-family: Manrope;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.underline {
  position: relative;
}

.underline::after {
  position: absolute;
  right: 0;
  top: 27px;
  z-index: -1;
  width: 100%;
  display: block;
  content: '';
  height: 12px;
  border-radius: 8px;
  background: #bee8cc;
}

.description-text {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 40px;
}

.benefit-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
  color: #121417;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.02em;
  border-radius: 16px;
  background: #f3f5f6;
  width: 100%;
}

.benefit-item:first-child {
  font-size: 18px;
}

.benefit-number {
  font-size: 28px;
  line-height: 1.14;
  margin-right: 5px;
  color: var(--accent);
}

.bg-image-about {
  background-image: url(../img/bg-about.png/memoji.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--accent);
  border-radius: 16px;
  height: 313px;
}

@media screen and (min-width: 375px) and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) and (min-width: 375px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
  .bg-image-about {
    background-size: 225px;
    background-image: url(../img/bg-about.png/memoji@2x.png);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .bg-image-about {
    background-size: 225px;
    height: 243px;
    background-image: url(../img/bg-about.png/memoji@2x.png);
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .bg-image-about {
    background-size: 225px;
    background-image: url(../img/bg-about.png/memoji@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .about {
    padding-bottom: 100px;
  }
  .section-headline {
    color: var(--primary-text-color);
    font-size: 40px;
    line-height: 1.2;
  }
  .underline::after {
    height: 16px;
    top: 30px;
  }
  .description-text {
    font-size: 18px;
    line-height: 1.67;
    width: unset;
    margin-bottom: 64px;
  }
  .benefit-list {
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 32px;
  }
  .benefit-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 64px;
  }
  .about {
    padding-bottom: 150px;
  }
  .benefit-container {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    gap: 32px;
  }
  .description-text {
    width: 658px;
    margin-left: auto;
    margin-right: auto;
  }
  .benefit-item {
    height: 160px;
  }
  .benefit-list {
    flex-basis: 67%;
    margin-bottom: unset;
  }
  .underline::after {
    height: 20px;
  }
  .bg-image-about {
    flex-basis: 33%;
    min-height: 352px;
  }
}
