.header {
  padding: 20px 0;

}

.nav {
  display: flex;
  flex-direction: row;
}

.header-desktop-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px 20px 64px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1279px) {

  .navigation-menu-item,
  .navigation-menu-social-item {
    display: none
  }

  .header-desktop-items {
    padding: 0;
    margin: 16;
  }

  .logo-first-word-header {
    padding: 24px 0 24px 0;
  }
}

.navigation-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  line-height: 1.29;
  height: 22px;

}

.navigation-menu {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 600;
  text-transform: initial;
}

.navigation-menu::after,
.navigation-menu::after {
  content: '';
  display: block;
  width: 37px;
  height: 2px;
  flex-shrink: 0;
  background-color: var(--accent);
  position: static;
  transition: opacity 250ms var(--default-transition-function);
  opacity: 0;
}

.navigation-menu:hover::after,
.navigation-menu:focus::after {
  opacity: 1;
}

.logo-first-word-header {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-text-color);

}

.logo-second-word-header {
  color: var(--accent);

}

.navigation-menu-social-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.navigation-menu-social-link {
  fill: var(--primary-text-color);
  transition: fill 250ms var(--default-transition-function);
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid rgba(18, 20, 23, 0.10);

}

.navigation-menu-social-link:hover,
.navigation-menu-social-link:focus {
  fill: var(--accent);
  opacity: 0.8;
  border-color: transparent;
}