@import url('./base.css');
@import url('./common/index.css');
@import url('./reset.css');
@import url('./common/index.css');
@import url('./application/index.css');



@import url('./hero.css');

@import url('./header.css');
@import url('./about-us.css');
@import url('./ourLessons.css');

@import url('./power-of-english.css');

@import url('./reviews.css');
@import url('./footer.css');

/* @import url('./ourTeachers.css'); */


:root {
  /* main
  /*Breakpoints*/
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1280px;
  /* Colors */
  --white: #fff;
  --accent: #4dc274;
  --secondary-accent-color: #bee8cc;
  --accent-hovered: #38ae5f;
  --primary-text-color: #121417;
  --secondary-text-color: rgba(18, 20, 23, 0.5);
  /* Radii */
  --default-border-radius: 30px;
  /* Transition */

  --default-transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
